:root {
  --primary-color: #dc0a2d;
  --secondary-color: #fff;
  --text-color: #393939;
  --background-color: #f5f5f5;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

/*==== START HOME PAGE ======*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  border-radius: 10px;
  margin-bottom: 10px;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}

.header-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  flex-grow: 1;
  text-align: start;
}

.favorites-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;

}

.favorites-icon {
  width: 21px;
  height: 21px;
}

.favorites-icon-container {
  width: 35px;
  height: 33px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}


.favorites-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  width: 81%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  width: 100%;
}

.flex-start {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.sort-icon-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -45px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort-icon {
  width: 20px;
  height: 20px;
}

.sort-container {
  position: absolute;
  right: 0;
  transform: translateY(73%);
  background-color: var(--secondary-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
  z-index: 100;
  width: 120px; /* Ajuste del ancho del contenedor */
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

.sort-container.active {
  display: block;
  background: var(--primary-color);
  width: 125px;
}

.sort-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sort-option {
  display: flex;
  align-items: center;
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 3px;
  height: 37px;
}


.sort-option:nth-child(2) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sort-option:nth-child(3) {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Estilo del input radio */
.sort-option input {
  margin-right: 10px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Estilo del radio button personalizado */
.sort-option input + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
}

/* Estilo del círculo del radio button */
.sort-option input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  background: var(--secondary-color);
}

/* Estilo del círculo interior cuando está seleccionado */
.sort-option input:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--primary-color);
}

/* Cambiar color del borde al pasar el ratón */
.sort-option input + label:hover:before {
  border-color: #888;
}

/* Cambiar color del borde cuando está seleccionado */
.sort-option input:checked + label:before {
  border-color: var(--primary-color);
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  padding: 8px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  height: 78vh;
  overflow-y: auto;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-height: 210px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  transition: transform 0.2s;
  text-align: center;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

img.heart-icon {
  height: 25px;
}

.pokemon-card h2 {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

.pokemon-card .pokemon-id {
  align-self: flex-end;
  color: #888;
  font-size: 16px;
  font-weight: bold;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.heart-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.heart-icon.active {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px var(--primary-color));
}

/* Media query for large screens */
@media (min-width: 1024px) {
  .pokemon-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }

  .pokemon-card img {
    width: 150px;
    height: 125px;
  }

  img.heart-icon {
    height: 25px;
  }

  .pokemon-card h2 {
    font-size: 18px;
  }

  .pokemon-card .pokemon-id {
    font-size: 18px;
  }
}

/* Media query for screens less than 700px */
@media (max-width: 700px) {
  .flex-start {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .search-container {
    width: calc(100% - 82px);
    max-width: 100%;
    margin-right: 10px;
  }

  .sort-icon-container {
    right: -43px;
  }

  .pokemon-grid {
    padding: 10px;
    gap: 10px;
  }

}

@media (max-width: 450px) {

  .pokemon-card .pokemon-id {
    font-size: 14px;
    margin: 0;
  }

  .pokemon-card a img {
    height: 85px;
    width: 89px;
  }

  img.heart-icon {
    height: 21px;
  }

  .pokemon-grid {
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  }

}

.no-results {
  text-align: center;
  background: #fff;
  padding: 33px;
  border-radius: 10px;
}

/*===== END HOME PAGE =====*/

/*===== START FAVORITES =====*/

.container .header-favorites {
  padding: 0.625rem 0;
}

.pokemon-favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-content: start;
  height: 83vh;
  overflow-y: auto;
}

.pokemon-favorites-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  transition: transform 0.2s;
  text-align: center;
}

.pokemon-favorites-card h2 {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

.pokemon-favorites-card .pokemon-id {
  align-self: flex-end;
  color: #888;
  font-size: 16px;
  font-weight: bold;
}

/* Media query for large screens */
@media (min-width: 1024px) {

  .pokemon-favorites-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }

}

/* Media query for screens less than 700px */
@media (max-width: 700px) {

  .pokemon-favorites-grid {
    padding: 10px;
    gap: 10px;
    height: 74vh;
  }

}

@media (max-width: 450px) {

  .pokemon-favorites-grid {
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  }

  .pokemon-favorites-card .pokemon-id {
    font-size: 14px;
    margin: 0;
  }

  .pokemon-favorites-card {
    font-size: 14px;
    margin: 0;
  }

  .pokemon-favorites-card a img {
    height: 85px;
    width: 89px;
  }

}



/*===== END FAVORITES =====*/

/*===== START DETAIL POKEMON ======*/

.fondo {
  background-image: url(/src/assets/bola-pokemon-fondo.png);
  background-size: cover;
  background-position: center;
  width: 31%;
  height: 29%;
  position: absolute;
  top: -139px;
  right: 19px;
  z-index: -1;
  opacity: 0.2;
}

.pokemon-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  box-sizing: border-box;
}

.pokemon-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: white;
  max-width: 25rem;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 3rem;
}

.pokemon-header {
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
}

.pokemon-header-navigation {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.pokemon-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.pokemon-id {
  font-size: 1.125rem;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container-img {
  margin-top: -8.3125rem;
}

.pokemon-image {
  width: 11.25rem;
  height: 11.25rem;
}

.pokemon-types {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

.type-badge {
  border: 1px solid #fff;
  border-radius: 0.85rem;
  padding: 0.4125rem;
  color: #fff;
}

.details-title {
  margin-top: 1.0625rem;
  font-size: 22px;
}

.description {
  font-size: 12px;
}

.pokemon-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.625rem 0;
}

.attribute, .moves {
  text-align: center;
  flex: 1;
  position: relative;
}

.attribute-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  font-size: 0.5625rem;
  color: #333;
}

.moves-title {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.moves-label,
.attribute-label,
.moves-title span{
  font-size: 12px;
}

.attribute-value {
  font-size: 0.8rem;
  color: #333;
}

.attribute-label {
  margin-top: 0.75rem;
  display: block;
}

.pokemon-details > .attribute:not(:last-child)::after,
.pokemon-details > .moves:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 2.5rem;
  background-color: #ddd;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.navigation {
  position: absolute;
  top: -5%;
  left: 4.25rem;
  right: 4.25rem;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation a {
  color: #ffffff;
  font-size: 10px;
}

.pokemon-stats {
  margin-top: 1rem;
}

.pokemon-stats h2 {
  font-size: 20px;
}

.stats-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.625rem;
}

.stat-name {
  width: 1.5rem;
  text-align: end;
}

.stat-bar {
  background: #f1f1f1;
  border-radius: 0.625rem;
  width: 67%;
  height: 0.625rem;
  overflow: hidden;
  margin-left: 0.625rem;
}

.stats-row span {
  font-size: 13px;
}

.stat-fill {
  height: 100%;
}

@media (max-width: 420px) {

  .fondo {
    width: 38%;
  }

  .pokemon-id {
    margin-right: 0.75rem;
  }

  .pokemon-detail-card {
    padding: 1rem;
    width: 95%;
  }

  .pokemon-image {
    width: 9rem;
    height: 9rem;
  }

  .container-img {
    margin-top: -6.3125rem;
  }

}

/*===== END POKEMON DETAIL =====*/

/*====== START LOADER ======*/

@keyframes pokeball-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-loader {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 10px solid #fff;
  border-top: 10px solid var(--primary-color);
  border-radius: 50%;
  animation: pokeball-spin 1s linear infinite;
  position: relative;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.loader::before {
  width: 70%;
  height: 70%;
  background: #fff;
  top: 15%;
  left: 15%;
}

.loader::after {
  width: 20%;
  height: 20%;
  background: var(--primary-color);
  top: 40%;
  left: 40%;
}

/*====== END LOADER ======*/